/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Sep-2015, 15:39:27
    Author     : AdigunHm
*/
.css_menu_two_line {
    width:100%;
    overflow:hidden;
}
.two_line_menu {
    position: relative;
    margin-bottom: 40px;
    background:#CCC ;
    z-index: 200000000;
    
}
.two_line_menu a {
    display: block;
    color: #000;
    text-decoration: none;
    padding:10px;
}
.two_line_menu li:hover a {
    color: #fff;
    background: #aaf;
}
.two_line_menu li { display: inline-block; }
.two_line_menu li ul { display: none; }
.two_line_menu li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background: #aaf;
    top: 38px;
}
.two_line_menu li ul li:hover a { color: #000; }
