* {
	border-radius:0px;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
	background:#222;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border:1px solid rgb(87,123,13);
    background:#fff;
	border-radius:4px;
	box-shadow:0px 0px 5px 0px rgb(87,123,13);

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}


.list-inline a {
    color:#000000 !important;
    font-size:13px !important;
}

.list-inline a:hover {
    color:#24a2f6!important;
    text-decoration:none;
}
.btn-lg {
    margin:0px!important;
}
.form-signin p {
    /*background-color:#000;*/
    font-size:16px !important;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:8px 0px 8px 0px;

}
#login {
    margin-top:30px;
}

#forgot {
    margin-top:50px;
}

#signup {
    margin-top:30px;
}

#logoimg {
  margin:auto;
  display:block;
}

.btn-success {
	color:#fff;
	background:url(../img/top.png);
	border:none;
}

.btn-success:hover, .btn-success:focus {
	background:rgb(87,123,13);
}

.form-control:focus {
	border-color:rgb(87,123,13);
}

.input-group-addon {
	color:#fff;
	background:url(../img/top.png);
}

.login-header {
	color:#fff;
	background:url(../img/top.png);
	margin:-16px -16px 25px -16px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}